body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

div {
    display: block;
    margin: 0 auto;
    background: steelblue;
    color: white;
}

hr {
    height: 3px;
    margin: 35px 0;
    background: #1e3a5f;
}
/* h1,h2,h3{
    text-align: center;
    font-family: Poppins or Montserrat;
} */

ul, li{
    text-align: center;
    list-style: none;
}